@{
    Layout = "_MenuPerfil";
    ViewData["Title"] = "Meus Cartões";
}

@model List<Cartao>

@{
    int index = 0;
}

<section class="meuperfil">
    <div class="col-9 base areaFavoritos texto-simples " style="min-height:80vh;">
        <a href="#" class="Voltar">Voltar</a>
        <div class="justify-content-between d-flex align-items-center">
            <p class="titulo_perfil">MEUS CARTÕES</p>
            <a type="button" class="editar" asp-controller="Cartao" asp-action="CadastroCartao">Cadastrar novo cartão</a>
        </div>

        @if (!Model.Any())
        {
            <div class="Vazio">
                <img src="~/imgs/ticocartao.png" alt="Tico Vazio">
                <p style="font-family: 'Glacial Bold'; font-size:15px;">Você ainda não tem nenhum cartão cadastrado</p>
                <p style="font-family: 'Glacial Indifference'; font-size:15px;">Clique no botão abaixo e cadastre seu cartão para utilizá-lo nas próximas compras!</p>
            </div>
        }
        else
        {
            @foreach (var cartoes in Model)
            {
                string imgBandeira = null;

                @if (cartoes.bandeira == "Visa")
                {
                    imgBandeira = "~/imgs/Visa.png";
                }
                else if (cartoes.bandeira == "MasterCard")
                {
                    imgBandeira = "~/imgs/master.png";
                }
                else if (cartoes.bandeira == "Elo")
                {
                    imgBandeira = "~/imgs/elo.png";
                }
                else
                {
                    imgBandeira = "~/imgs/Bandeira.png";
                }

                var cardInfoId = $"card-info-{index}";
                var setaId = $"seta-{index}";
                index++;

                <div class="base-op-cartao">
                    <div class="card-sumario">
                        <p id="glacial-bold"><img src="@Url.Content(imgBandeira)" alt="bandeira" class="me-2" />@cartoes.numCartao.ToString().Substring(cartoes.numCartao.ToString().Length - 4)</p>
                        <button class="setaabrefecha" onclick="expandirCartao('@cardInfoId', '@setaId')">
                            <img id="@setaId" src="~/imgs/setalado.png" alt="Seta" class="setaabre">
                        </button>
                    </div>
                    <div class="justify-content-center d-flex">
                        <div id="@cardInfoId" class="card-info">
                            <p id="glacial-bold" style="color:gray;">Informações do cartão</p>
                            <div class="base-cartao" style="background:linear-gradient(135deg, #f0f0c9, #d1e1f3);">
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="editar">Remover</button>
                                </div>
                                <div class="d-flex mb-4">
                                    <p style="margin-top:-20px;"><img src="@Url.Content(imgBandeira)" alt="bandeira" class="bandeira"> Cartão</p>
                                </div>
                                <div class="d-flex w-50 justify-content-between mb-5">
                                    <p>****</p>
                                    <p>****</p>
                                    <p>*</p>
                                    <p>@cartoes.numCartao.ToString().Substring(cartoes.numCartao.ToString().Length - 4)</p>
                                </div>
                                <p class="text-esquerda">Data de validade: @cartoes.dataVali</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</section>

<script>
    function expandirCartao(cardId, setaId) {
        const cardInfo = document.getElementById(cardId);
        const setaIcon = document.getElementById(setaId);

        if (cardInfo.classList.contains('expandido')) {
            cardInfo.classList.remove('expandido');
            setaIcon.classList.remove('giraseta'); // Remove rotação
        } else {
            cardInfo.classList.add('expandido');
            setaIcon.classList.add('giraseta'); // Adiciona rotação
        }
    }
</script>
