@{
    Layout = "_MenuPerfil";
    ViewData["Title"] = "Meu Perfil";
}
@model edutico.Models.Cliente;

<section class="meuperfil">
    <div class="areaCliente">
        <!-- Mensagem de erro -->
        @{
            if (ViewData["msg"] == "Erro Desconhecido")
            {
                ViewData["msg"] = null;
            }
           
        }
        <p class="titulo_perfil">MEU PERFIL</p>

        <!-- Formulário de Dados Conta -->
        <form id="formDadosConta" method="post" asp-controller="Cliente" asp-action="AtualizarClienteConta">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="sub_perfil">
                <h5 id="glacial-bold">Dados Conta</h5>
                <button type="button" onclick="edicao(this, formDadosConta)" class="editar">Modificar</button>
            </div>
            <hr />
            <div class="col-3">
                <div class="info-grup">
                    <p>E-mail</p>
                    <label>@Model.email</label>
                    <input asp-for="email" type="text" style="display: none" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="info-grup">
                    <p>Senha</p>
                    <label>*******</label>
                    <input asp-for="senha" type="password" placeholder="*******" style="display: none" />
                </div>
            </div>
        </form>

        <!-- Formulário de Dados Pessoais -->
        <form id="formDadosPessoais" method="post" asp-controller="Cliente" asp-action="AtualizarClienteDados">
            <div class="sub_perfil">
                <h5 id="glacial-bold">Dados Pessoais</h5>
                <button type="button" onclick="edicao(this, formDadosPessoais)" class="editar">Modificar</button>
            </div>
            <hr />
            <div class="d-flex">
                <div class="col-3">
                    <div class="info-grup">
                        <p>Primeiro Nome</p>
                        <label>@Model.nome</label>
                        <input asp-for="nome" type="text" style="display: none" />
                        <span asp-validation-for="nome" class="text-danger"></span>
                    </div>
                    <div class="info-grup">
                        <p>Telefone</p>
                        <label>@Model.telefone</label>
                        <input asp-for="telefone" type="text" style="display: none" />
                        <span asp-validation-for="telefone" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="info-grup">
                        <p>Último Nome</p>
                        <label>@Model.sobrenome</label>
                        <input asp-for="sobrenome" type="text" style="display: none" />
                        <span asp-validation-for="sobrenome" class="text-danger"></span>
                    </div>
                    <div class="info-grup">
                        <p>CPF</p>
                        <label>@Model.cpf</label>
                        <input asp-for="cpf" type="text" style="display: none" />
                        <span asp-validation-for="cpf" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>

        <!-- Formulário de Endereço -->
        <form id="formEndereco" method="post" asp-controller="Cliente" asp-action="AtualizarClienteEndereco">
            <div class="sub_perfil">
                <h5 id="glacial-bold">Endereço</h5>
                <button type="button" onclick="edicao(this, formEndereco)" class="editar">Modificar</button>
            </div>
            <hr />
            <div class="d-flex">
                <div class="col-3">
                    <div class="info-grup">
                        <p>Logradouro</p>
                        <label>@Model.logradouro</label>
                        <input asp-for="logradouro" type="text" style="display: none" />
                        <span asp-validation-for="logradouro" class="text-danger"></span>
                    </div>
                    <div class="info-grup">
                        <p>CEP</p>
                        <label>@Model.cep</label>
                        <input asp-for="cep" type="text" style="display: none" />
                        <span asp-validation-for="cep" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="info-grup">
                        <p>Bairro</p>
                        <label>@Model.bairro</label>
                        <input asp-for="bairro" type="text" style="display: none" />
                        <span asp-validation-for="bairro" class="text-danger"></span>
                    </div>
                    <div class="info-grup">
                        <p>Cidade</p>
                        <label>@Model.cidade</label>
                        <input asp-for="cidade" type="text" style="display: none" />
                        <span asp-validation-for="cidade" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="info-grup">
                        <p>Nº Residência</p>
                        <label>@Model.numEnd</label>
                        <input asp-for="numEnd" type="text" style="display: none" />
                        <span asp-validation-for="numEnd" class="text-danger"></span>
                    </div>
                    <div class="info-grup">
                        <p>UF</p>
                        <label>@Model.uf</label>
                        <input asp-for="uf" type="text" style="display: none" />
                        <span asp-validation-for="uf" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script>
    function edicao(botao, formId) {
        var campos = formId.querySelectorAll('input[type="text"]');
        var labels = formId.querySelectorAll('label');

        if (botao.textContent == 'Modificar') {
            // Muda o texto do botão
            botao.textContent = 'Salvar';

            // Deixa os inputs visíveis
            campos.forEach(campo => {
                campo.style.display = 'block';
            });

            // Deixa os labels invisíveis
            labels.forEach(label => {
                label.style.display = 'none';
            });
        }
        else if (botao.textContent == 'Salvar') {
            // Muda o texto do botão
            botao.textContent = 'Modificar';

            // Envia o formulário
            formId.submit();

            // Deixa os inputs invisíveis
            campos.forEach(campo => {
                campo.style.display = 'none';
            });

            // Deixa os labels visíveis
            labels.forEach(label => {
                label.style.display = 'block';
            });
        }
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}