@{
     Layout = "_LayoutCli2";
    ViewData["Title"] = "Detalhes Pedido";
}

@{
    @model Pedido;
    var pedido = Json.Serialize(Model);
}


<section class="container texto-simples tudodedetalhe align-content-center">
    <h3 style="font-family:'Edutico'; margin-left:43%;">DETALHES PEDIDO</h3>
    <div class="d-flex justify-content-center">
        <div class="col-4 mx-3">
       
        <div class="areaPedido">
            <p class="text-center" style="font-size:20px;">Pedido nº @Model.NF</P>
            <hr />
            <div class="detalhes-ped ">
                <div class="scrollable-div overflow-auto" style="max-height: 150px;">
                    @foreach(var itemPedido in Model.itensPedido)
                    {
                        string valor = itemPedido.valorItem.ToString();

                        var valorItem = valor.Insert(valor.Length - 2, ",");

                        <div class="item-prod">
                            <p> 
                                <img src="@Url.Content(@itemPedido.produto.img.enderecoImg)" alt="@itemPedido.produto.nomeProd"> 
                                @if (itemPedido.produto.nomeProd.Length > 35)
                                {
                                    @itemPedido.produto.nomeProd.Substring(0, 35)

                                    <text>...</text> 
                                }
                                else
                                {
                                    @itemPedido.produto.nomeProd 
                                }
                            </p>

                            <p>R$ @valorItem</p>
                        </div>
                    }
                </div>
               <div class="item-prod mt-2">
                    <p>Entrega</p>
                    <p>R$ 20,00</p>
                </div>

             <hr />
            <div class="total-pedido d-flex" id="glacial-bold">
                <p>Total</p>
                <p>R$ @Model.valorTotal</p>
            </div>
        </div>

        </div>
    </div>
       
        <div class="col-6 mx-3">
            
            <div class="areaPedido">
                
                 <div class="sub_perfil">
                    <h5 id="glacial-bold">Endereço</h5>
                  </div>
                    <hr />
                <div class="d-flex">
                        <div class="col-4">
                            <div class="info-ped mb-3">
                                <p>Logradouro</p>
                                <p id="info_perfil">@Model.cliente.logradouro</p>
                            </div>
                            <div class="info-ped mb-3"">
                                <p>CEP</p>
                                <p id="info_perfil">@Model.cliente.cep</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="info-ped mb-3">
                                <p>Bairro</p>
                                <p id="info_perfil">@Model.cliente.bairro</p>
                            </div>
                            <div class="info-ped">
                                <p>Cidade</p>
                                <p id="info_perfil">@Model.cliente.cidade</p>
                            </div>

                        </div>
                        <div class="col-3">
                            <div class="info-ped mb-3">
                                <p>Nº Residência</p>
                                <p id="info_perfil">@Model.cliente.numEnd</p>
                            </div>
                            <div class="info-ped mb-3"">
                                <p>UF</p>
                                <p id="info_perfil">@Model.cliente.uf</p>
                            </div>
                        </div>
                   
                </div>
                <div class="sub_perfil">
                    <h5 id="glacial-bold">Informações sobre a entrega</h5>
                </div>
                <hr />
                <div class="d-flex">
                    <div class="col-3">
                        <div class="info-ped">
                            <p>Tipo de entrega</p>
                            <p id="info_perfil">Padrão</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="info-ped">
                            <p>Prazo de entrega</p>
                            <p id="info_perfil">29/09/2024</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="info-ped">
                            <p>Prazo de devolução</p>
                            <p id="info_perfil">7 dias úteis</p>
                        </div>
                    </div>
                
                </div>
                    
            </div>
           <div class="d-flex pt-2 justify-content-center">
               <a asp-controller="Pedido" asp-action="GerarNF" asp-route-pedido="@pedido">
                    <button class="btncanc">Ver Nota Fiscal</button>
               </a>
               
                <button class="btnnav">Voltar para a navegação</button>
            </div>
            
       </div>
    </div>
    
        
    </section>
