@{
    Layout = "_LayoutCli2";
    ViewData["Title"] = "Finalizar Pedido";
}
@model Pedido;


<div class="row texto-simples">
    <div class="col-8">
        <!--seção do cliente-->
        <div class="base-cartao-com ">
            <div class="sub_perfil">
                <h5 id="glacial-bold">Dados do cliente</h5>
            </div>
            <hr />
            <div class="d-flex">
                <div class="col-3">
                    <div class="info-ped">
                        <p>Nome</p>
                        <p id="info_perfil">@Model.cliente.nome @Model.cliente.sobrenome</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="info-ped">
                        <p>CPF</p>
                        <p id="info_perfil">
                            @String.Format("{0}.{1}.{2}-{3}",
                                     Model.cliente.cpf.ToString().Substring(0, 3),
                                     Model.cliente.cpf.ToString().Substring(3, 3),
                                     Model.cliente.cpf.ToString().Substring(6, 3),
                                     Model.cliente.cpf.ToString().Substring(9, 2))
                        </p>

                    </div>
                </div>
                <div class="col-3">
                    <div class="info-ped">
                        <p>Telefone</p>
                        <p id="info_perfil">
                            @String.Format("({0}) {1}-{2}",
                                     Model.cliente.telefone.Substring(0, 2),
                                     Model.cliente.telefone.Substring(2, 5),
                                     Model.cliente.telefone.Substring(7))
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--seção do endereço de entrega-->
        <div class="base-cartao-com">
            <div class="sub_perfil">
                <h5 id="glacial-bold">Endereço</h5>
                <button type="button" onclick="edicao(this, formEnderecoPedido)" class="editar">Editar</button>
            </div>
            <hr />
            <form id="formEnderecoPedido" method="post" asp-controller="Cliente" asp-action="AtualizarClienteEndereco">
                <div class="d-flex">
                    <div class="col-4">
                        <div class="info-grup">
                            <p>Logradouro</p>
                            <label id="info_perfil">@Model.cliente.logradouro</label>
                            <input type="text" id="logradouro " name="logradouro" value="@Model.cliente.logradouro" style="display: none">
                        </div>
                        <div class="info-grup">
                            <p>CEP</p>
                            <label id="info_perfil">
                                @String.Format("{0}-{1}",
                                         Model.cliente.cep.Substring(0, 5),
                                         Model.cliente.cep.Substring(5))
                            </label>
                            <input type="text" id="cep" name="cep" value="@Model.cliente.cep" style="display: none">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="info-grup">
                            <p>Bairro</p>
                            <label id="info_perfil">@Model.cliente.bairro</label>
                            <input type="text" id="bairro" name="bairro" value="@Model.cliente.bairro" style="display: none">
                        </div>
                        <div class="info-grup">
                            <p>Cidade</p>
                            <label id="info_perfil">@Model.cliente.cidade</label>
                            <input type="text" id="cidade" name="cidade" value="@Model.cliente.cidade" style="display: none">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="info-grup">
                            <p>Nº Residência</p>
                            <label id="info_perfil">@Model.cliente.numEnd</label>
                            <input type="text" id="num" name="numEnd" value="@Model.cliente.numEnd" style="display: none">
                        </div>
                        <div class="info-grup">
                            <p>UF</p>
                            <label id="info_perfil">@Model.cliente.uf</label>
                            <input type="text" id="uf" name="uf" value="@Model.cliente.uf" class="info-perfil" style="display: none">
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="base-cartao-com">
            <!--seção do método de pagamento-->
            <div class="sub_perfil">
                <h5 id="glacial-bold">Método Pagamento</h5>
            </div>
            <hr />
            <form id="formPagamento" asp-controller="Pedido" asp-action="CadastrarPedido">
                <div class="col-5">
                    <!--radio buttom customizado-->
                    <div class="radio-container">
                        <label for="radiopix">
                            <input type="radio" id="radiopix" name="radio" onclick="tipoPagamento(0, this)" />
                            <!--esse span vazio é a bolinha-->
                            <div class="custom-radio">
                                <span></span>
                            </div>
                            <img src="~/imgs/pixpag.png" alt="PIX" width="30">
                            <p>PIX</p>
                        </label>
                    </div>
                    <div class="radio-container">
                        <label for="radiocartao">
                            <input type="radio" id="radiocartao" name="radio" onclick="tipoPagamento(1, this)" />
                            <div class="custom-radio">
                                <span></span>
                            </div>
                            <img src="~/imgs/cartaopag.png" alt="PIX" width="30">
                            <p>Cartão de crédito</p>
                        </label>
                    </div>

                    <input type="hidden" id="tipoPag" name="tipoPag" />
                    <input type="hidden" name="pedidoIn" value='@Json.Serialize(Model)' />
                </div>
            </form>
        </div>
    </div>
    <div class="col-4">
        <!--card pedido igual ao carrinho-->
        <div class="areaPedido">
            <h5 class="text-center glacial-bold" style="font-size:30px;">Pedido</h5>
            <hr />
            <div class="detalhes-ped">

                <!--scroll classe boostrap | sumario de produtos na prévia-->
                <div class="scrollable-div overflow-auto" style="max-height: 150px; ">

                    @foreach (var itens in Model.itensPedido)
                    {
                        <div class="item-prod">
                            <p>
                                <img src="@Url.Content(@itens.produto.imgs.First().enderecoImg)" alt="@itens.produto.nomeProd">
                                @if (itens.produto.nomeProd.Length > 20)
                                {
                                    @itens.produto.nomeProd.Substring(0, 20)

                                    <text>...</text>
                                }
                                else
                                {
                                    @itens.produto.nomeProd
                                }
                            </p>
                            <p>R$ @itens.valorItem.ToString("F2")</p>
                        </div>
                    }
                </div>

                <div class="item-prod mt-2">
                    <p>Entrega</p>
                    <p>R$ 20,00</p>
                </div>


                <hr />
                <div class="total-pedido d-flex" id="glacial-bold">
                    <p>Total</p>
                    <p>R$ @Model.valorTotal.ToString("F2")</p>
                </div>
            </div>

            <div class="align-items-center d-flex mt-3">
                <img src="~/imgs/reembolso.png" class="prazoimg" alt="Prazo" />
                <p class="limite">Limite de 7 dias após a compra para reembolso do produto se solicitado. Saber mais.</p>

            </div>


            <!--botões para prosseguir ou cancelar-->
            <div class="d-flex justify-content-center">
                <button class="btncanc-ped">Cancelar</button>

                <button class="btnnav-ped" id="btnProsseguir" onclick="enviarFormulario()" disabled>Confirmar</button>
            </div>
        </div>
    </div>



    <script>
        function edicao(botao, formId) {
            var campos = formId.querySelectorAll('input[type="text"]');
            var labels = formId.querySelectorAll('label');

            if (botao.textContent == 'Editar') {
                // Muda o texto do botão
                botao.textContent = 'Salvar';

                // Deixa os texts visíveis
                campos.forEach(campo => {
                    campo.style.display = 'block';
                });

                // Deixa os labels invisíveis
                labels.forEach(label => {
                    label.style.display = 'none';
                });
            }
            else if (botao.textContent == 'Salvar') {
                // Muda o texto do botão
                botao.textContent = 'Editar';

                // Envia o formulário
                formId.submit();

                // Deixa os texts invisíveis
                campos.forEach(campo => {
                    campo.style.display = 'none';
                });

                // Deixa os labels visíveis
                labels.forEach(label => {
                    label.style.display = 'block';
                });
            }
        }

        function tipoPagamento(valor, elemento) {
            const tipoPag = document.querySelector("#tipoPag");
            const botao = document.querySelector("#btnProsseguir");

            tipoPag.value = valor;

            botao.removeAttribute('disabled');

        }

        function enviarFormulario() {
            const formulario = document.querySelector("#formPagamento");

            formulario.submit();
        }
    </script>
