@{
    Layout = "_MenuPerfil";
    ViewData["Title"] = "Acompanhar Pedido";
}


@model List<Pedido>

@if (!Model.Any())
{
    <div class="col-9 base areaFavoritos">
        <div class="justify-content-between d-flex">
            <p style=" font-family: 'Edutico'; font-size:23px; color:#1C3FB9">Pedidos</p>
        </div>
        <div class="Vazio">
            <img src="~/imgs/edupedidos.png" alt="Tico Vazio">
            <p style=" font-family: 'Glacial Bold'; font-size:15px ">Não há pedidos no momento</p>
            <p style=" font-family: 'Glacial Indifference'; font-size:15px ">Explore os brinquedos educativos e faça sua primeira compra!</p>
        </div>
    </div>
}
else
{
    <div class="ms-4">
        <div class="justify-content-between align-items-center d-flex">
            <p class="titulo_perfil">PEDIDOS</p>
            <div class="filtro d-flex align-items-center">
                <label class="justify-content-between" for="option" style="font-family: 'Glacial Bold'; padding-inline:10px">Filtrar por</label>
                <form id="filtroPedido" asp-controller="Pedido" asp-action="FiltrarPedidos">
                    <select class="justify-content-between" id="ordecao" name="statusPedido" onchange="document.querySelector('#filtroPedido').submit()">
                        <option value="5"> Todos </option>
                        <option value="0"> Pendentes </option>
                        <option value="1"> Em Andamento </option>
                        <option value="2"> Concluídos </option>
                        <option value="3"> Cancelados </option>
                    </select>
                </form>
            </div>
        </div>
        @foreach (var pedido in Model)
        {
            <a asp-controller="Pedido" asp-action="DetalhesPedido" asp-route-NF="@pedido.NF" class="text-decoration-none" style="color: inherit;">

                <!-- Pedidos Pendentes (Aguardando Pagamento) -->
                @if (pedido.statusPedido == 0)
                {
                    <div class="sumario-pedido glacial-bold">
                        <!--cabeçalho com status e número de pedido-->
                        <div class="cabeca-sum">
                            <p>Nº pedido @pedido.NF.ToString().PadLeft(14, '0')</p>
                            <p>Status:  <span style="color:#1C3FB9">Pendente</span></p>

                        </div>
                        <hr />
                        <div id="pedidos-alinhamento" class="d-flex align-items-center">
                            <div class="d-flex">
                                <!--aqui fica os produtos em miniatura (imagem e nome)-->
                                @foreach (var produto in pedido.itensPedido.Take(4))
                                {
                                    <div class="miniprod">
                                        <img src="@Url.Content(produto.produto.imgs.First().enderecoImg)" id="imgped" />
                                        <p>
                                            @if (produto.produto.nomeProd.Length > 20)
                                            {
                                                @produto.produto.nomeProd.Substring(0, 20)

                                                <text>...</text> <!-- Exibe apenas os 20 primeiros caracteres com "..." -->
                                            }
                                            else
                                            {
                                                @produto.produto.nomeProd  <!-- Exibe o nome completo se for menor ou igual a 20 caracteres -->
                                            }
                                        </p>

                                    </div>
                                }
                            </div>
                            <!--botão para encaminhar a detalhes pedido-->
                            <div class="ops-btn">
                                <a asp-controller="Pedido" asp-action="DetalhesPedido" asp-route-NF="@pedido.NF" class="text-decoration-none">
                                    <button type="submit" class="btndeta-ped">Detalhes</button>
                                </a>
                            </div>
                        </div>
                    </div>
                }
                else if (pedido.statusPedido == 1)
                {
                    <div class="sumario-pedido glacial-bold">
                        <!--cabeçalho-->
                        <div class="cabeca-sum">
                            <p>Nº pedido @pedido.NF.ToString().PadLeft(14, '0')</p>
                            <p>Status:  <span style="color:#D9AF19">Andamento</span></p>
                            <p>Entrega: previsto para o dia @pedido.data.AddDays(7).ToString("dd/MM/yyyy")</p>
                        </div>
                        <hr />
                        <div id="pedidos-alinhamento" class="d-flex align-items-center ">
                            <div class=" d-flex">
                                <!--miniatura dos produtos-->
                                @foreach (var produto in pedido.itensPedido.Take(4))
                                {
                                    <div class="miniprod">
                                        <img src="@Url.Content(produto.produto.imgs.First().enderecoImg)" id="imgped" />
                                        <p>
                                            @if (produto.produto.nomeProd.Length > 20)
                                            {
                                                @produto.produto.nomeProd.Substring(0, 20)

                                                <text>...</text> <!-- Exibe apenas os 20 primeiros caracteres com "..." -->
                                            }
                                            else
                                            {
                                                @produto.produto.nomeProd  <!-- Exibe o nome completo se for menor ou igual a 20 caracteres -->
                                            }
                                        </p>

                                    </div>
                                }
                            </div>
                            <!--botões para acesso do usuario-->
                            <div class="ops-btn align-content-center justify-content-center">
                                <a asp-controller="Pedido" asp-action="DetalhesPedido" asp-route-NF="@pedido.NF" class="text-decoration-none">
                                    <button type="submit" class="btndeta-ped">Detalhes</button>
                                </a>
                                <a asp-controller="Pedido" asp-action="TermoCancelamento" asp-route-NF="@pedido.NF">
                                    <button class="btncancelarped">Cancelar</button>
                                </a>
                            </div>
                        </div>
                    </div>
                }
                else if (pedido.statusPedido == 2)
                {
                    <div class="sumario-pedido glacial-bold">
                        <!--cabeçalho-->
                        <div class="cabeca-sum">
                            <p>Nº pedido @pedido.NF.ToString().PadLeft(14, '0')</p>
                            <p>Status:  <span style="color:#77C000">Concluído</span></p>
                        </div>
                        <hr />

                        <div id="pedidos-alinhamento" class="d-flex align-items-center">
                            <!--miniatura produtos-->
                            <div class=" d-flex">
                                @foreach (var produto in pedido.itensPedido.Take(4))
                                {
                                    <div class="miniprod">
                                        <img src="@Url.Content(produto.produto.imgs.First().enderecoImg)" id="imgped" />
                                        <p>
                                            @if (produto.produto.nomeProd.Length > 20)
                                            {
                                                @produto.produto.nomeProd.Substring(0, 20)

                                                <text>...</text> <!-- Exibe apenas os 20 primeiros caracteres com "..." -->
                                            }
                                            else
                                            {
                                                @produto.produto.nomeProd  <!-- Exibe o nome completo se for menor ou igual a 20 caracteres -->
                                            }
                                        </p>
                                    </div>
                                }
                            </div>
                            <!--botões de acesso-->
                            <div class="ops-btn">
                                <a asp-controller="Pedido" asp-action="DetalhesPedido" asp-route-NF="@pedido.NF" class="text-decoration-none">
                                    <button type="submit" class="btndeta-ped">Detalhes</button>
                                </a>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="sumario-pedido glacial-bold">
                        <!--cabeçalho do pedido-->
                        <div class="cabeca-sum">
                            <p>Nº pedido @pedido.NF.ToString().PadLeft(14, '0')</p>
                            <p>Status:  <span style="color:red">Cancelado</span></p>

                        </div>
                        <hr />
                        <div id="pedidos-alinhamento" class="d-flex align-items-center ">
                            <!--produtos em miniatura (só os quatros primeiros)-->
                            <div class="d-flex">
                                @foreach (var produto in pedido.itensPedido.Take(4))
                                {
                                    <div class="miniprod">
                                        <img src="@Url.Content(produto.produto.imgs.First().enderecoImg)" id="imgped" />
                                        <p>
                                            @if (produto.produto.nomeProd.Length > 20)
                                            {
                                                @produto.produto.nomeProd.Substring(0, 20)

                                                <text>...</text> <!-- Exibe apenas os 20 primeiros caracteres com "..." -->
                                            }
                                            else
                                            {
                                                @produto.produto.nomeProd  <!-- Exibe o nome completo se for menor ou igual a 20 caracteres -->
                                            }
                                        </p>
                                    </div>
                                }
                            </div>
                            <div class="ops-btn">
                                <a asp-controller="Pedido" asp-action="DetalhesPedido" asp-route-NF="@pedido.NF" class="text-decoration-none">
                                    <button type="submit" class="btndeta-ped">Detalhes</button>
                                </a>
                            </div>

                        </div>
                    </div>
                }
            </a>
        }
    </div>
}
