@{
    Layout = "_MenuPerfil";
    ViewData["Title"] = "Acompanhar Pedido";
}


@model List<Pedido>

@if (!Model.Any())
{
    <div class="col-9 base areaFavoritos">
        <a href="#" class="Voltar">Voltar</a>
        <div class="justify-content-between d-flex">
            <p style=" font-family: 'Edutico'; font-size:23px; color:#1C3FB9">Pedidos</p>
        </div>
        <div class="Vazio">
            <img src="~/imgs/edupedidos.png" alt="Tico Vazio">
            <p style=" font-family: 'Glacial Bold'; font-size:15px ">Não há pedidos no momento</p>
            <p style=" font-family: 'Glacial Indifference'; font-size:15px ">Explore os brinquedos educativos e faça sua primeira compra!</p>
        </div>
    </div>
}
else
{
    <div class="ms-4">
        <a href="#" class="Voltar">Voltar</a>
        <div class="justify-content-between align-items-center d-flex">
            <p class="titulo_perfil">PEDIDOS</p>
            <div class="filtro">
                <label for="option" style="font-family: 'Glacial Bold'; padding-inline:10px">Ordenar por</label>
                <form id="filtroPedido" asp-controller="Pedido" asp-action="ConsultarPedidosFiltros">
                    <select id="ordecao" name="statusPedido" onchange="document.querySelector('#filtroPedido').submit()">
                        <option value="5"> Todos </option>
                        <option value="0"> Pendentes </option>
                        <option value="1"> Em Andamento </option>
                        <option value="2"> Concluídos </option>
                        <option value="3"> Devolvidos </option>
                        <option value="4"> Cancelados </option>
                    </select>
                </form>
            </div>
        </div> 
        @foreach(var pedido in Model)
        {
            <!-- Pedidos Pendentes (Aguardando Pagamento) -->
            if(pedido.statusPedido == 0)
            {
                <div class="sumario-pedido glacial-bold">
                    <!--cabeçalho com status e número de pedido-->
                    <div class="cabeca-sum">
                        <p>Nº pedido @pedido.NF.ToString().PadLeft(14, '0')</p>
                        <p>Status:  <span style="color:#1C3FB9">Pendente</span></p>

                    </div>
                    <hr />
                    <div class="d-flex align-items-center ">
                        <div class="d-flex">
                            <!--aqui fica os produtos em miniatura (imagem e nome)-->
                            @foreach (var produto in pedido.itensPedido.Take(4))
                            {
                                <div class="miniprod">
                                    <img src="@Url.Content(produto.produto.imgs.First().enderecoImg)" id="imgped" />
                                    <p>
                                        @if (produto.produto.nomeProd.Length > 20)
                                        {
                                            @produto.produto.nomeProd.Substring(0, 20)

                                            <text>...</text> <!-- Exibe apenas os 20 primeiros caracteres com "..." -->
                                        }
                                        else
                                        {
                                            @produto.produto.nomeProd  <!-- Exibe o nome completo se for menor ou igual a 20 caracteres -->
                                        }
                                    </p>

                                </div>
                            }
                        </div>
                        <!--botão para encaminhar a detalhes pedido-->
                        <div class="ops-btn">
                            <button class="btndeta-ped">Detalhes</button>
                        </div>

                    </div>
                </div>
            }
            else if (pedido.statusPedido == 1)
            {
                <div class="sumario-pedido glacial-bold">
                    <!--cabeçalho-->
                    <div class="cabeca-sum">
                        <p>Nº pedido @pedido.NF.ToString().PadLeft(14, '0')</p>
                        <p>Status:  <span style="color:#D9AF19">Andamento</span></p>
                        <p>Entrega: previsto para o dia 26/07/2024</p>
                    </div>
                    <hr />
                    <div class="d-flex align-items-center ">
                        <div class=" d-flex">
                            <!--miniatura dos produtos-->
                            @foreach (var produto in pedido.itensPedido.Take(4))
                            {
                                <div class="miniprod">
                                    <img src="@Url.Content(produto.produto.imgs.First().enderecoImg)" id="imgped" />
                                    <p>
                                        @if (produto.produto.nomeProd.Length > 20)
                                        {
                                            @produto.produto.nomeProd.Substring(0, 20)

                                            <text>...</text> <!-- Exibe apenas os 20 primeiros caracteres com "..." -->
                                        }
                                        else
                                        {
                                            @produto.produto.nomeProd  <!-- Exibe o nome completo se for menor ou igual a 20 caracteres -->
                                        }
                                    </p>

                                </div>
                            }
                        </div>
                        <!--botões para acesso do usuario-->
                        <div class="ops-btn">
                            <button class="btndeta-ped">Detalhes</button>
                            <button class="btnrastreio">Rastrear</button>
                            <button class="btncancelarped">Cancelar</button>
                        </div>
                    </div>
                </div>
            }
            else if (pedido.statusPedido == 2)
            {
                <div class="sumario-pedido glacial-bold">
                    <!--cabeçalho-->
                    <div class="cabeca-sum">
                        <p>Nº pedido @pedido.NF.ToString().PadLeft(14, '0')</p>
                        <p>Status:  <span style="color:#77C000">Concluído</span></p>
                    </div>
                    <hr />

                    <div class="d-flex align-items-center ">
                        <!--miniatura produtos-->
                        <div class=" d-flex">
                            @foreach (var produto in pedido.itensPedido.Take(4))
                            {
                                <div class="miniprod">
                                    <img src="@Url.Content(produto.produto.imgs.First().enderecoImg)" id="imgped" />
                                    <p>
                                        @if (produto.produto.nomeProd.Length > 20)
                                        {
                                            @produto.produto.nomeProd.Substring(0, 20)

                                            <text>...</text> <!-- Exibe apenas os 20 primeiros caracteres com "..." -->
                                        }
                                        else
                                        {
                                            @produto.produto.nomeProd  <!-- Exibe o nome completo se for menor ou igual a 20 caracteres -->
                                        }
                                    </p>
                                </div>
                            }
                        </div>
                        <!--botões de acesso-->
                        <div class="ops-btn">
                            <button class="btndeta-ped">Detalhes</button>
                            <button class="btnrastreio">Avaliar</button>
                            <!--aqui estou chamando a modal como se já fosse sido solicitado a devolução mas pode ter a outra opção de encaminhar para o inicio do processo-->
                            <button class="btncancelarped" type="button" data-bs-toggle="modal" data-bs-target="#avisodevo">Devolver Produto</button>
                        </div>
                    </div>
                </div>
            }
            else if (pedido.statusPedido == 3)
            {
                <div class="sumario-pedido glacial-bold">
                    <!--cabeçalho-->
                    <div class="cabeca-sum">
                        <p>Nº pedido @pedido.NF.ToString().PadLeft(14, '0')</p>
                        <p>Status:  <span style="color:#77C000">Concluído</span></p>
                        <p>Devolução: até o dia 03/08/2024</p>
                    </div>
                    <hr />

                    <div class="d-flex align-items-center ">
                        <!--miniatura produtos-->
                        <div class=" d-flex">
                            @foreach (var produto in pedido.itensPedido.Take(4))
                            {
                                <div class="miniprod">
                                    <img src="@Url.Content(produto.produto.imgs.First().enderecoImg)" id="imgped" />
                                    <p>
                                        @if (produto.produto.nomeProd.Length > 20)
                                        {
                                            @produto.produto.nomeProd.Substring(0, 20)

                                            <text>...</text> <!-- Exibe apenas os 20 primeiros caracteres com "..." -->
                                        }
                                        else
                                        {
                                            @produto.produto.nomeProd  <!-- Exibe o nome completo se for menor ou igual a 20 caracteres -->
                                        }
                                    </p>
                                </div>
                            }
                        </div>
                        <!--botões de acesso-->
                        <div class="ops-btn">
                            <button class="btndeta-ped">Detalhes</button>
                            <button class="btnrastreio">Avaliar</button>
                            <!--aqui estou chamando a modal como se já fosse sido solicitado a devolução mas pode ter a outra opção de encaminhar para o inicio do processo-->
                            <button class="btncancelarped" type="button" data-bs-toggle="modal" data-bs-target="#avisodevo">Devolver Produto</button>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="sumario-pedido glacial-bold">
                    <!--cabeçalho do pedido-->
                    <div class="cabeca-sum">
                        <p>Nº pedido @pedido.NF.ToString().PadLeft(14, '0')</p>
                        <p>Status:  <span style="color:red">Cancelado</span></p>

                    </div>
                    <hr />
                    <div class="d-flex align-items-center ">
                        <!--produtos em miniatura (só os quatros primeiros)-->
                        <div class="d-flex">
                            @foreach (var produto in pedido.itensPedido.Take(4))
                            {
                                <div class="miniprod">
                                    <img src="@Url.Content(produto.produto.imgs.First().enderecoImg)" id="imgped" />
                                    <p>
                                        @if (produto.produto.nomeProd.Length > 20)
                                        {
                                            @produto.produto.nomeProd.Substring(0, 20)

                                            <text>...</text> <!-- Exibe apenas os 20 primeiros caracteres com "..." -->
                                        }
                                        else
                                        {
                                            @produto.produto.nomeProd  <!-- Exibe o nome completo se for menor ou igual a 20 caracteres -->
                                        }
                                    </p>
                                </div>
                            }
                        </div>
                        <div class="ops-btn">
                            <button class="btndeta-ped">Detalhes</button>
                        </div>

                    </div>
                </div>
            }
        }
    </div>
}



    <!-- Modal Devolucao Aprovado-->

    <div class="modal fade texto-simples" id="avisodevo" data-bs-backdrop="static" data-bs-keyboard="false">
        @*esses datas bs impede que a modal se feche ao clicar no fundo o em esc*@
        <!-- modal-dialog-centered faz ficar no centro verticalmente-->
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center p-2 justify-content-center" style="border-radius: 20px;  position: relative;">
                <!-- tico feliz porque aprovou-->
                <img src="~/imgs/ticofeliz.png" alt="Bonequinho" class="bonequinho-img" style="position: absolute; top: -167px; left: 30%;  height: 200px;"><!--esse position absolute faz ficar no meio e em cima da modal-->
                <!-- x para fechar-->
                <div class="modal-header border-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- aqui fica icone confere-->
                    <div class="mb-3">
                        <img src="~/imgs/notifica.png" alt="Ícone de Confirmação" class="mb-3" style="height: 60px;">
                    </div>
                    <!-- Título e Mensagem -->
                    <h1 class="modal-title fs-4 glacial-bold">
                        A solicitação de devolução foi aprovada!
                    </h1>
                    <!-- ese fs é fonte size-->
                    <p class="mb-3 fs-5">Siga com o próximo passo para concluir sua devolução.</p>
                </div>
                <!--botao de dentro da modal-->
                <div class="modal-footer border-0 d-flex justify-content-center">
                    <button class="btn btn-primary " data-bs-dismiss="modal" style="border-radius: 25px;">
                        <!--faz com que abra outra padina na mesma aba-->
                        Voltar para o menu    
                    </button>
                </div>
            </div>
        </div>
    </div>
